*{
    margin: 0;
    padding: 0;
}

body{
    background: #2e3440;
    padding: 60px;
}

h1{
    color: #d8dee9;
    margin-bottom: 60px;
    font-size: 50px;
}

h2{
    color: #4c566a;
    font-size: 30px;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
    color: #d8dee9;
    display: table;
    margin-bottom: 20px;
}


/* CLASSES */
.kind{
    margin-bottom: 40px;
}